.form-wrapper{
    height: 70vh;
    min-height: 720px;
    width: 30vw;
    min-width: 500px;
    background: #fff;
    margin: 0 auto;
    top: 8vh;
    position: relative;
    padding: 80px 10px;
    box-sizing: border-box;
    box-shadow: 0 5px 26px -2px rgba(227,227,227,1);
    border-top: 1px solid #0000ff;
    z-index: 100;
}

input{
    border: 1px solid #1a1a1a;
    background: transparent;
    width: 220px;
    padding: 5px 27px 5px 27px;
    border-radius: 0;
    height: 24px;
    margin: 10px auto;
}

input:focus{
    border: 1px solid #0000ff;
    box-shadow: none;
    outline: 0;
}

input::placeholder{
    font-family: 'Roboto Mono', sans-serif;
}

.__react_component_tooltip{
    opacity: 1!important;
    visibility: visible!important;
}

.warning-message{
    display: inline-block;
    position: fixed;
    font-size: 13px;
    pointer-events: none;
    z-index: 999;
    padding: 8px 21px;
    background: #ffa5a5;
    margin: 10px 0 0 10px;
}

.warning-message::after{
    content: '';
    position: absolute;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    left: -6px;
    top: 50%;
    margin-top: -4px;
    border-right-color: #ffa5a5;
    border-right-style: solid;
    border-right-width: 6px;
}

.button{
    border: 1px solid #1a1a1a;
    text-align: center;
    background: #ffffff;
    width: 120px;
    height: 33px;
    line-height: 20px;
    position: relative;
    margin: 0 auto;
    vertical-align: middle;
    cursor: pointer;
    transition: all .2s ease-in;
}

.button:hover{
    color: #ffffff;
    box-shadow: inset 150px 0 0 0 #0000ff;
    border: 1px solid #0000ff;
}

.submit{
    padding: 40px 0;
}