.header-left{
    position: fixed;
    top: 40vh;
    left: -65px;
    padding: 20px;
    font-weight: 500;
    color: #000;
    background: #fff;
    transform: rotate(-90deg);
    transition: all 0.8s ease;
    box-shadow: 0 0 13px -3px rgba(179,179,179,0.48);
}

.header-left:hover{
    background: #0000ff;
    color: #fff;
}

.header-right{
    background: #fff;
    position: fixed;
    top: 34vh;
    right: 0px;
    z-index: -1;
    box-shadow: 0 0 13px -3px rgba(179,179,179,0.48);
    padding: 20px 0;
}

.header-right img{
    width: 25px;
    display: block;
    margin: 20px;
    transition: all 0.7s ease;
}

.header-right img:hover{
    transform: scale(1.1);
}

a{
    text-decoration: none;
}

a:hover, a:visited{
    text-decoration: none;
}